<section
  class="about-me d-flex flex-column justify-content-center align-items-center vh-100"
>
  <div class="container text-center">
    <h2 class="display-4 mb-4 fw-bold">Hello I am Sai Hemanth Reddy 👋🏻</h2>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">
          I'm a Software Engineer with experience in full-stack development. I
          love solving problems and creating efficient solutions. Explore my
          journey and see what I've been working on!
        </p>
      </div>
      <div class="col-md-6">
        <!-- Optional: Add an image or additional content -->
        <img
          src="assets/avatar.svg"
          alt="Profile Photo"
          class="img-fluid rounded-circle"
        />
      </div>
    </div>
  </div>
</section>
