<div class="card">
  <img [src]="project.image" alt="{{ project.title }}" class="card-img-top" />
  <div class="card-body d-flex flex-column align-items-center">
    <h3 class="card-title">{{ project.title }}</h3>
    <p class="card-text">{{ project.description }}</p>
    @if(project.demoExists){
    <span>
      <a [href]="project.githubLink" target="_blank" class="btn btn-secondary"
        >View on GitHub</a
      >
      <a [href]="project.demoLink" target="_blank" class="mx-2 btn btn-secondary"
        >View Demo</a
      >
    </span>
    } @else {
    <a [href]="project.githubLink" target="_blank" class="btn btn-secondary"
      >View on GitHub</a
    >
    }
  </div>
</div>
