.projects .card {
  border-radius: 0.5rem; /* Rounded corners for the card */
}

.projects .card-body {
  padding: 2rem; /* Adjust padding inside the card */
}

.projects .btn-secondary {
  margin-top: 1rem; /* Add margin-top to the button */
}
