<section class="contact py-5 text-center">
  <div class="container">
    <h2 class="display-4 mb-4 fw-bold">Get in Touch</h2>
    <p class="lead mb-4">
      If you'd like to collaborate or just say hello, feel free to reach out!
    </p>
    <div class="d-flex justify-content-center">
      <a href="mailto:dshreddy03@gmail.com" class="mx-2">
        <i class="fas fa-envelope fa-2x"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/sai-hemanth-reddy-d-272392242/"
        target="_blank"
        class="mx-2"
      >
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/dshreddy/" target="_blank" class="mx-2">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a
        href="https://www.instagram.com/__shr_03/"
        target="_blank"
        class="mx-2"
      >
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
</section>
