<div class="card">
  <img [src]="topic.image" alt="{{ topic.title }}" class="card-img-top" />
  <div class="card-body d-flex flex-column align-items-center">
    <h3 class="card-title">{{ topic.title }}</h3>
    <p class="card-text">{{ topic.description }}</p>
    @if(!topic.disabled){
    <a href="{{ topic.link }}" target="_blank" class="btn btn-primary"
      >Learn More</a
    >
    } @else {
    <a href="{{ topic.link }}" target="_blank" class="btn btn-primary disabled"
      >Learn More</a
    >
    }
  </div>
</div>
